In [1]:
import pandas as pd
import numpy as np

pandas의 가장 기초가 되는 Series

list로 만들 수 있다

np.nan으로 NaN을 표현할 수 있다

In [2]:
s = pd.Series([1,3,5,np.nan,6,8])

s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

date_range를 이용해 기본 날짜값에서 periods만큼 range처럼 날짜 데이터 반환

In [3]:
dates = pd.date_range('20130101',periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

pandas의 DataFrame

6*4의 random값을 np.random.randn()으로 만들고

column들은 'A','B','C','D'를 주고

index=dates로 위에서 만든 날짜 데이터를 index로

In [4]:
df = pd.DataFrame(np.random.randn(6,4),index=dates, columns = ['A','B','C','D'])

df

                   A         B         C         D
2013-01-01  1.034440  0.303392  0.014338 -0.962408
2013-01-02 -0.652497  0.733678 -0.148658  1.121671
2013-01-03 -0.661549  0.850820  0.788959  0.364501
2013-01-04 -0.828270 -0.784687  0.588696 -0.190759
2013-01-05  1.156283 -2.159195 -1.391876  1.238116
2013-01-06  1.593458  0.377100  1.280578  1.012722

head()함수는 첫 5행을 보여주는데 안에 숫자를 넣으면 숫자만큼 보여줌

In [5]:
df.head(3)

                   A         B         C         D
2013-01-01  1.034440  0.303392  0.014338 -0.962408
2013-01-02 -0.652497  0.733678 -0.148658  1.121671
2013-01-03 -0.661549  0.850820  0.788959  0.364501

index와 column은 각각 df.index, df.columns로 볼 수 있다

In [6]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

데이터프레임에 들어가는 value들을 보여줌

In [8]:
df.values

array([[ 1.03443983,  0.30339186,  0.01433849, -0.96240848],
       [-0.65249662,  0.73367783, -0.1486582 ,  1.12167113],
       [-0.66154939,  0.85081958,  0.7889593 ,  0.36450116],
       [-0.82827041, -0.78468738,  0.58869599, -0.19075917],
       [ 1.15628297, -2.15919541, -1.39187645,  1.23811564],
       [ 1.59345827,  0.37709961,  1.28057773,  1.01272235]])

데이터프레임의 전체 개요는 info()함수로 볼 수 있다

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2013-01-01 to 2013-01-06
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

describe()함수는 각 컬럼의 기본 통계량을 보여준다

문자형같은 범주형이면 범주형에 맞는 통계량이 나옴

In [10]:
df.describe() #개수, 평균, min,max, 1/4지점, 표준편차까지..

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.273644 -0.113149  0.188673  0.430640
std    1.099664  1.157365  0.933267  0.871717
min   -0.828270 -2.159195 -1.391876 -0.962408
25%   -0.659286 -0.512668 -0.107909 -0.051944
50%    0.190972  0.340246  0.301517  0.688612
75%    1.125822  0.644533  0.738893  1.094434
max    1.593458  0.850820  1.280578  1.238116

In [11]:
df.describe()['A']['mean'] #A 컬럼의 평균

0.27364410978201725

# sort_values(by=,ascending=)

by로 지정한 컬럼을 기준으로 정렬

ascending는 True면 오름차순, False면 내림차순

In [12]:
df.sort_values(by='B', ascending=True)

                   A         B         C         D
2013-01-05  1.156283 -2.159195 -1.391876  1.238116
2013-01-04 -0.828270 -0.784687  0.588696 -0.190759
2013-01-01  1.034440  0.303392  0.014338 -0.962408
2013-01-06  1.593458  0.377100  1.280578  1.012722
2013-01-02 -0.652497  0.733678 -0.148658  1.121671
2013-01-03 -0.661549  0.850820  0.788959  0.364501

# 행과 컬럼 출력

df['컬럼명']처럼 컬럼명을 인덱싱하면 컬럼을 출력해줌

In [13]:
df['A']

2013-01-01    1.034440
2013-01-02   -0.652497
2013-01-03   -0.661549
2013-01-04   -0.828270
2013-01-05    1.156283
2013-01-06    1.593458
Freq: D, Name: A, dtype: float64

기본적으로는 숫자로 단순 인덱싱하면 행을 지정하는 것

In [14]:
df[0:3] #0행부터 2행

                   A         B         C         D
2013-01-01  1.034440  0.303392  0.014338 -0.962408
2013-01-02 -0.652497  0.733678 -0.148658  1.121671
2013-01-03 -0.661549  0.850820  0.788959  0.364501

행의 인덱스를 사용할 수도 있다

In [15]:
df['2013-01-02':'2013-01-05'] #얘는 신기하게 마지막 행을 포함하네?

                   A         B         C         D
2013-01-02 -0.652497  0.733678 -0.148658  1.121671
2013-01-03 -0.661549  0.850820  0.788959  0.364501
2013-01-04 -0.828270 -0.784687  0.588696 -0.190759
2013-01-05  1.156283 -2.159195 -1.391876  1.238116

# df.loc[행,열]

행의 이름, 열의 이름을 직접 사용해서 위치를 찾아 출력해줌

In [16]:
dates[0]

Timestamp('2013-01-01 00:00:00', freq='D')

In [17]:
#행 인덱스가 dates[0]의 값과 같은 행을 출력

df.loc[dates[0]]

A    1.034440
B    0.303392
C    0.014338
D   -0.962408
Name: 2013-01-01 00:00:00, dtype: float64

In [18]:
#'A', 'B'열의 모든 행을 보고싶다면 [:,['A','B']]

df.loc[:,['A','B']]

                   A         B
2013-01-01  1.034440  0.303392
2013-01-02 -0.652497  0.733678
2013-01-03 -0.661549  0.850820
2013-01-04 -0.828270 -0.784687
2013-01-05  1.156283 -2.159195
2013-01-06  1.593458  0.377100

In [19]:
#행, 열의 범위를 이름으로 직접 지정

df.loc['2013-01-03':'2013-01-05', ['A','B','C']]

                   A         B         C
2013-01-03 -0.661549  0.850820  0.788959
2013-01-04 -0.828270 -0.784687  0.588696
2013-01-05  1.156283 -2.159195 -1.391876

In [20]:
df.loc['2013-01-04',['A','B']]

A   -0.828270
B   -0.784687
Name: 2013-01-04 00:00:00, dtype: float64

In [21]:
df.loc[dates[0],'A'] #행이 dates[0]이면서 A열의 변수값 출력

1.0344398342038397

# df.iloc[행,열]

행, 열의 index position number를 이용해서 위치를 찾아 출력

loc가 행,열의 인덱스 이름으로 지정한다면, iloc는 인덱스의 위치 숫자를 지정

In [22]:
#,로 구분하지 않고 단순 숫자만 쓰면 행을 나타냄

df.iloc[3] #3번행 출력

A   -0.828270
B   -0.784687
C    0.588696
D   -0.190759
Name: 2013-01-04 00:00:00, dtype: float64

In [23]:
#3번,4번행과 0번,1번열을 지정
df.iloc[3:5, 0:2] #얘는 마지막을 포함하지 않네

                   A         B
2013-01-04 -0.828270 -0.784687
2013-01-05  1.156283 -2.159195

# fancy indexing

행, 열의 인덱스를 담은 list를 사용해서 인덱싱 가능(fancy index)

In [24]:
#1,2,4번행, 0번,2번열을 지정

df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02 -0.652497 -0.148658
2013-01-03 -0.661549  0.788959
2013-01-05  1.156283 -1.391876

In [25]:
#:은 전체 범위를 지정함

df.iloc[1:3,:] #1,2번행에 대해 전체 열을 출력

                   A         B         C         D
2013-01-02 -0.652497  0.733678 -0.148658  1.121671
2013-01-03 -0.661549  0.850820  0.788959  0.364501

In [26]:
#행은 전체를 지정하고 열은 1번,2번열
df.iloc[:,1:3]

                   B         C
2013-01-01  0.303392  0.014338
2013-01-02  0.733678 -0.148658
2013-01-03  0.850820  0.788959
2013-01-04 -0.784687  0.588696
2013-01-05 -2.159195 -1.391876
2013-01-06  0.377100  1.280578

# boolean indexing

boolean을 index에 넣어서

특정한 조건이 True인 데이터를 출력시킨다

In [27]:
df.A #'A'컬럼의 모든 데이터

2013-01-01    1.034440
2013-01-02   -0.652497
2013-01-03   -0.661549
2013-01-04   -0.828270
2013-01-05    1.156283
2013-01-06    1.593458
Freq: D, Name: A, dtype: float64

In [28]:
#'A'컬럼의 값이 양수인 행만을 출력함

df[df.A > 0]

                   A         B         C         D
2013-01-01  1.034440  0.303392  0.014338 -0.962408
2013-01-05  1.156283 -2.159195 -1.391876  1.238116
2013-01-06  1.593458  0.377100  1.280578  1.012722

In [29]:
#데이터프레임 전체에서 조건을 걸면 만족하지 않는 곳은 NaN으로 나온다

df[df>0]

                   A         B         C         D
2013-01-01  1.034440  0.303392  0.014338       NaN
2013-01-02       NaN  0.733678       NaN  1.121671
2013-01-03       NaN  0.850820  0.788959  0.364501
2013-01-04       NaN       NaN  0.588696       NaN
2013-01-05  1.156283       NaN       NaN  1.238116
2013-01-06  1.593458  0.377100  1.280578  1.012722

# Copy

= 을 사용하면 shallow copy로 데이터의 위치만 복사함

반대로 df.copy()를 사용하면 데이터의 위치, 내용을 전부 복사(deep copy)

![제목 없음.jpg]()

In [30]:
#shallow copy

df2 = df

In [31]:
df2['E'] = ['one','one','two','three','four','three']

df2

                   A         B         C         D      E
2013-01-01  1.034440  0.303392  0.014338 -0.962408    one
2013-01-02 -0.652497  0.733678 -0.148658  1.121671    one
2013-01-03 -0.661549  0.850820  0.788959  0.364501    two
2013-01-04 -0.828270 -0.784687  0.588696 -0.190759  three
2013-01-05  1.156283 -2.159195 -1.391876  1.238116   four
2013-01-06  1.593458  0.377100  1.280578  1.012722  three

In [32]:
df #df는 추가하지 않았는데 df에도 추가됨(shallow copy)

                   A         B         C         D      E
2013-01-01  1.034440  0.303392  0.014338 -0.962408    one
2013-01-02 -0.652497  0.733678 -0.148658  1.121671    one
2013-01-03 -0.661549  0.850820  0.788959  0.364501    two
2013-01-04 -0.828270 -0.784687  0.588696 -0.190759  three
2013-01-05  1.156283 -2.159195 -1.391876  1.238116   four
2013-01-06  1.593458  0.377100  1.280578  1.012722  three

In [33]:
del df['E']

In [34]:
df

                   A         B         C         D
2013-01-01  1.034440  0.303392  0.014338 -0.962408
2013-01-02 -0.652497  0.733678 -0.148658  1.121671
2013-01-03 -0.661549  0.850820  0.788959  0.364501
2013-01-04 -0.828270 -0.784687  0.588696 -0.190759
2013-01-05  1.156283 -2.159195 -1.391876  1.238116
2013-01-06  1.593458  0.377100  1.280578  1.012722

In [35]:
## deep copy

df2 = df.copy()

In [36]:
df2['E'] = ['one','one','two','three','four','three']

df2

                   A         B         C         D      E
2013-01-01  1.034440  0.303392  0.014338 -0.962408    one
2013-01-02 -0.652497  0.733678 -0.148658  1.121671    one
2013-01-03 -0.661549  0.850820  0.788959  0.364501    two
2013-01-04 -0.828270 -0.784687  0.588696 -0.190759  three
2013-01-05  1.156283 -2.159195 -1.391876  1.238116   four
2013-01-06  1.593458  0.377100  1.280578  1.012722  three

In [37]:
df #이번엔 df에는 E가 추가되지 않는다

                   A         B         C         D
2013-01-01  1.034440  0.303392  0.014338 -0.962408
2013-01-02 -0.652497  0.733678 -0.148658  1.121671
2013-01-03 -0.661549  0.850820  0.788959  0.364501
2013-01-04 -0.828270 -0.784687  0.588696 -0.190759
2013-01-05  1.156283 -2.159195 -1.391876  1.238116
2013-01-06  1.593458  0.377100  1.280578  1.012722

# isin

지정한 데이터가 존재하는지 아닌지 검사

In [38]:
df2['E'].isin(['two','four']) #'E'컬럼에 'two','four'이 존재하는지 아닌지?

2013-01-01    False
2013-01-02    False
2013-01-03     True
2013-01-04    False
2013-01-05     True
2013-01-06    False
Freq: D, Name: E, dtype: bool

In [39]:
df2[df2['E'].isin(['two','four'])] #'E'컬럼이 'two','four'인 행을 출력

                   A         B         C         D     E
2013-01-03 -0.661549  0.850820  0.788959  0.364501   two
2013-01-05  1.156283 -2.159195 -1.391876  1.238116  four

# apply

데이터프레임에 특정한 함수를 적용시킴

In [40]:
df

                   A         B         C         D
2013-01-01  1.034440  0.303392  0.014338 -0.962408
2013-01-02 -0.652497  0.733678 -0.148658  1.121671
2013-01-03 -0.661549  0.850820  0.788959  0.364501
2013-01-04 -0.828270 -0.784687  0.588696 -0.190759
2013-01-05  1.156283 -2.159195 -1.391876  1.238116
2013-01-06  1.593458  0.377100  1.280578  1.012722

In [41]:
#각 열에서 누적합을 구한다

#0행을 1행에 더하고, 1행을 2행에 더하고, 2행을 3행에 더하고,...

df.apply(np.cumsum)

                   A         B         C         D
2013-01-01  1.034440  0.303392  0.014338 -0.962408
2013-01-02  0.381943  1.037070 -0.134320  0.159263
2013-01-03 -0.279606  1.887889  0.654640  0.523764
2013-01-04 -1.107877  1.103202  1.243336  0.333005
2013-01-05  0.048406 -1.055994 -0.148541  1.571120
2013-01-06  1.641865 -0.678894  1.132037  2.583843

In [42]:
#각 열에서 최댓값과 최솟값의 차이

df.apply(lambda x: x.max()-x.min())

A    2.421729
B    3.010015
C    2.672454
D    2.200524
dtype: float64

# dataframe 병합

In [43]:
df1 = pd.DataFrame({'A':['A0','A1','A2','A3'],
                    'B':['B0','B1','B2','B3'],
                    'C':['C0','C1','C2','C3'],
                    'D':['D0','D1','D2','D3']},
                   index = [0,1,2,3])

df2 = pd.DataFrame({'A':['A4','A5','A6','A7'],
                    'B':['B4','B5','B6','B7'],
                    'C':['C4','C5','C6','C7'],
                    'D':['D4','D5','D6','D7']},
                   index=[4,5,6,7])

df3 = pd.DataFrame({'A':['A8','A9','A10','A11'],
                    'B':['B8','B9','B10','B11'],
                    'C':['C8','C9','C10','C11'],
                    'D':['D8','D9','D10','D11']},
                   index=[8,9,10,11])

In [44]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [45]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [46]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

# concat

열방향(위아래로 합친다)

In [47]:
result = pd.concat([df1,df2,df3])

result

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [48]:
#keys 옵션을 주면 df1,df2,df3를 구분하면서 합칠수 있다
#key로 지정된 구분은 다중 index가 되어 level을 형성

result = pd.concat([df1,df2,df3],keys=['x','y','z'])

result

        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

In [49]:
result.index

MultiIndex([('x',  0),
            ('x',  1),
            ('x',  2),
            ('x',  3),
            ('y',  4),
            ('y',  5),
            ('y',  6),
            ('y',  7),
            ('z',  8),
            ('z',  9),
            ('z', 10),
            ('z', 11)],
           )

In [50]:
#level0의 index 불러오기

result.index.get_level_values(0)

Index(['x', 'x', 'x', 'x', 'y', 'y', 'y', 'y', 'z', 'z', 'z', 'z'], dtype='object')

In [51]:
#level 1의 index 불러오기

result.index.get_level_values(1)

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], dtype='int64')

# axis concat

In [52]:
df4 = pd.DataFrame({'B':['B2','B3','B6','B7'],
                    'D':['D2','D3','D6','D7'],
                    'F':['F2','F3','F6','F7']},
                   index=[2,3,6,7])

result = pd.concat([df1,df4],axis=1)

In [53]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [54]:
df4

    B   D   F
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7

# outer join

In [55]:
#axis=1은 행방향으로 병합하는 것

#index를 기준으로 합친다
#df1은 0,1,2,3이고 df2는 2,3,6,7이므로 2,3을 기준으로 서로 합치고
#서로 없는 index에는 NaN으로 채워진다

result

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

# inner join

In [56]:
#공통된 index부분만 합쳐서 가져오고 나머지는 버린다

result = pd.concat([df1,df4],axis=1, join='inner')

result

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

In [58]:
#df1의 index에 맞게 df4의 index 부분은 지워버림

result = pd.concat([df1,df4],axis=1).reindex(df1.index)

result

    A   B   C   D    B    D    F
0  A0  B0  C0  D0  NaN  NaN  NaN
1  A1  B1  C1  D1  NaN  NaN  NaN
2  A2  B2  C2  D2   B2   D2   F2
3  A3  B3  C3  D3   B3   D3   F3

# ignore_index = True

데이터프레임을 병합하고, index를 처음부터 다시 재배치

In [59]:
result = pd.concat([df1,df4],ignore_index=True)

In [60]:
result

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
4  NaN  B2  NaN  D2   F2
5  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

In [64]:
left = pd.DataFrame({'key':['K0','K4','K2','K3'],
                     'A':['A0','A1','A2','A3'],
                     'B':['B0','B1','B2','B3']})

right = pd.DataFrame({'key':['K0','K1','K2','K3'],
                      'C':['C0','C1','C2','C3'],
                      'D':['D0','D1','D2','D3']})

In [65]:
left

  key   A   B
0  K0  A0  B0
1  K4  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [66]:
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

# merge

두 데이터프레임에서 공통된 컬럼인 key를 기준으로 병합하는 명령

on= 옵션에 key 컬럼을 명시

기본적으로 행방향, (양옆으로) 합친다

In [67]:
#inner join

pd.merge(left,right,on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K2  A2  B2  C2  D2
2  K3  A3  B3  C3  D3

how 옵션을 주어서 한쪽 데이터는 전부 가져오고, 나머지 데이터프레임에서 빈 부분은 NaN으로 채우는 join

In [68]:
#left outer join

pd.merge(left,right,how='left',on='key')

  key   A   B    C    D
0  K0  A0  B0   C0   D0
1  K4  A1  B1  NaN  NaN
2  K2  A2  B2   C2   D2
3  K3  A3  B3   C3   D3

In [69]:
#right outer join

pd.merge(left,right,how='right',on='key')

  key    A    B   C   D
0  K0   A0   B0  C0  D0
1  K1  NaN  NaN  C1  D1
2  K2   A2   B2  C2  D2
3  K3   A3   B3  C3  D3

In [70]:
#full outer join

#두 데이터프레임의 데이터를 모두 가져오는데, 공통된 요소가 아닌 부분은 NaN으로 채워짐

pd.merge(left,right,how='outer',on='key')

  key    A    B    C    D
0  K0   A0   B0   C0   D0
1  K4   A1   B1  NaN  NaN
2  K2   A2   B2   C2   D2
3  K3   A3   B3   C3   D3
4  K1  NaN  NaN   C1   D1

In [72]:
#outer말고 inner를 주면 처음에 한 inner join

pd.merge(left,right,how='inner',on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K2  A2  B2  C2  D2
2  K3  A3  B3  C3  D3