#1. row/column 선택

데이터프레임은 행과 열에 각각 레이블을 가지고 있어 레이블의 이름이나 그 위치를 이용하여 행과 열을 선택하고 추가,삭제할 수 있음

데이터를 수정하거나 삭제하는 등의 작업을 위해 그 데이터가 어떤 것인지 정확히 지정하는 것이 필요

행과 열의 위치나 이름을 이용하여 원하는 행이나 열을 지정할 수 있음

#row 선택

슬라이싱을 이용하여 데이터프레임의 행을 선택

df[n:m]은 df의 n행부터 m-1행까지를 의미한다

파이썬에서 일반적으로 객체의 인덱스는 0부터 시작한다는 점에 주의

In [ ]:
from sklearn.datasets import load_iris

import pandas as pd

iris = load_iris()

iris = pd.DataFrame(iris.data, columns = iris.feature_names)

iris[1:4] #iris 데이터의 1행부터 3행까지

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2

#슬라이싱(slicing)

시퀀스의 일부를 선택하는 것. [start:end]와 같은 형식으로 파이썬에서는 start부터 end-1까지를 의미함(0,1,2,3,...)

즉 마지막 index는 포함하지 않는다

마이너스(-)를 이용하면 시퀀스의 마지막부터 거꾸로 계산한 위치(-1,-2,-3,...)

In [ ]:
s = [1,2,3,4,5] #0,1,2,3,4 #-5,-4,-3,-2,-1

In [ ]:
s[1:5] #1번부터 4번까지

[2, 3, 4, 5]

In [ ]:
s[:-2] #-5,-4,-3번까지

[1, 2, 3]

In [ ]:
s[:] #모든 원소 선택

[1, 2, 3, 4, 5]

#column 선택

데이터프레임의 컬럼을 선택할 때는 컬럼명, 컬럼명의 리스트를 이용

df['컬럼명'] > 1개의 컬럼을 series 형식으로 출력함

df[['컬럼명']] > 1개의 컬럼을 데이터프레임 형식으로 출력

df[['컬럼명1','컬럼명2',...]] > 2개 이상의 컬럼을 데이터프레임 형식으로 출력

2개이상의 컬럼을 선택할때는 반드시 리스트로 넣어줘야한다

In [ ]:
iris.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [ ]:
iris['sepal length (cm)'] #series

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal length (cm), Length: 150, dtype: float64

In [ ]:
iris[['sepal length (cm)']] #데이터프레임

     sepal length (cm)
0                  5.1
1                  4.9
2                  4.7
3                  4.6
4                  5.0
..                 ...
145                6.7
146                6.3
147                6.5
148                6.2
149                5.9

[150 rows x 1 columns]

In [ ]:
iris[['sepal length (cm)','sepal width (cm)']] #2개 이상의 컬럼

     sepal length (cm)  sepal width (cm)
0                  5.1               3.5
1                  4.9               3.0
2                  4.7               3.2
3                  4.6               3.1
4                  5.0               3.6
..                 ...               ...
145                6.7               3.0
146                6.3               2.5
147                6.5               3.0
148                6.2               3.4
149                5.9               3.0

[150 rows x 2 columns]

In [ ]:
iris['sepal length (cm)','sepal width (cm)'] #2개 이상의 컬럼에는 반드시 리스트로 넣어줘야

KeyError: ignored

#2.iloc와 loc

iloc는 index position number location으로 정수로 된 위치 기반 index number로 행과 열을 선택

정수, 리스트, 슬라이싱, boolean array가 들어갈 수 있다

인수를 하나만 지정하면 행을 지정하고, 2개를 지정하면 순서대로 행과 열을 지정함

df.iloc[row]

df.iloc[row,column]

In [ ]:
iris.iloc[1:4] #첫번째행부터 3번째행까지

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2

In [ ]:
iris.iloc[[1,3,5],2:4] #[첫번째행, 3번째행, 5번째행]과 2번째열부터 3번째열까지를 지정

   petal length (cm)  petal width (cm)
1                1.4               0.2
3                1.5               0.2
5                1.7               0.4

In [ ]:
iris.iloc[:,[True, True, False, True]] #모든 행을 지정하고, 1열,2열,4열을 지정

     sepal length (cm)  sepal width (cm)  petal width (cm)
0                  5.1               3.5               0.2
1                  4.9               3.0               0.2
2                  4.7               3.2               0.2
3                  4.6               3.1               0.2
4                  5.0               3.6               0.2
..                 ...               ...               ...
145                6.7               3.0               2.3
146                6.3               2.5               1.9
147                6.5               3.0               2.0
148                6.2               3.4               2.3
149                5.9               3.0               1.8

[150 rows x 3 columns]

인덱스의 이름이나 컬럼명으로 행과 열을 선택하고자 할때는 loc를 사용한다

인수를 하나만 설정하면 행을 지정하고 2개를 설정하면 행,열을 지정한다

df.loc[row]

df,loc[row,column]

loc는 특이하게 1:3하면 1행부터 2행까지가 아니라 1행부터 3행까지로 마지막을 포함한다

In [ ]:
iris.loc[1:3] #인덱스 값이 1번부터 3번까지

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2

In [ ]:
iris.loc[[1,2],'sepal length (cm)':'petal length (cm)']

   sepal length (cm)  sepal width (cm)  petal length (cm)
1                4.9               3.0                1.4
2                4.7               3.2                1.3

숫자를 인수로 쓰더라도 iloc는 인덱스의 위치를 나타내고 loc는 인덱스의 이름을 나타낸다는점을 주의해야한다.

예를 들어 iloc[3:5]은 3번째 위치의 행부터 4번째 위치의 행까지를 지정하는데 

loc[3:5]은 인덱스 값이 3인 행부터 5인 행까지를 지정함

In [ ]:
iris.index = range(3,153)

In [ ]:
iris.iloc[3:5]

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
6                4.6               3.1                1.5               0.2
7                5.0               3.6                1.4               0.2

In [ ]:
iris.loc[3:5]

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
3                5.1               3.5                1.4               0.2
4                4.9               3.0                1.4               0.2
5                4.7               3.2                1.3               0.2

#3. 값 변경하기

특정 값을 선택했다면 그 값에 다른 값을 대입해 값을 변경할 수 있다

In [ ]:
import pandas as pd

In [ ]:
score = pd.DataFrame({'국어':[100,80],'수학':[75,90],'영어':[90,95]},index=['장화','홍련'])

score

     국어  수학  영어
장화  100  75  90
홍련   80  90  95

In [ ]:
score.loc['홍련','영어'] = 100 #홍련행의 영어열 값 95를 100으로 변경

In [ ]:
score

     국어  수학   영어
장화  100  75   90
홍련   80  90  100

In [ ]:
score['국어'] = score['국어'] - 5 #'국어'열 모든 값들에 5를 빼줌

score

    국어  수학   영어
장화  95  75   90
홍련  75  90  100

#4. row를 추가하는 방법

데이터프레임에 한 행을 추가할 때는 append()를 사용

append() 안에는 dataframe, series, dictionary등을 모두 넣을 수 있다

In [1]:
import pandas as pd
import numpy as np

In [2]:
score = pd.DataFrame({'국어':[100,80], '수학':[75,90], '영어':[90,95]},index=['장화','홍련'])

score

     국어  수학  영어
장화  100  75  90
홍련   80  90  95

In [3]:
#데이터프레임 추가
new_students = pd.DataFrame({'국어':[70,85], '수학':[65,100], '영어':[95,65]},index=['콩쥐','팥쥐'])

score = score.append(new_students)

score

     국어   수학  영어
장화  100   75  90
홍련   80   90  95
콩쥐   70   65  95
팥쥐   85  100  65

series를 추가할 때는 name=에 넣은 값이 행의 index가 된다

In [4]:
#series 추가

new_student1 = pd.Series({'국어':85, '수학':55, '영어':95}, name = '해님')

score = score.append(new_student1)

In [5]:
score

     국어   수학  영어
장화  100   75  90
홍련   80   90  95
콩쥐   70   65  95
팥쥐   85  100  65
해님   85   55  95

dictionary를 추가할 때는 다음과 같이 ignore_index=True를 추가해야한다

그럴 경우에는 기존 데이터프레임의 index값들이 모두 초기화되므로 주의해야한다

In [6]:
#dictionary 추가

new_student2 = {'국어':75, '수학':80,'영어':80}

score = score.append(new_student2) #ignore_index=True를 설정하지 않으면 에러남

score

TypeError: ignored

In [7]:
score = score.append(new_student2, ignore_index=True)

score #인덱스가 전부 초기화됨

    국어   수학  영어
0  100   75  90
1   80   90  95
2   70   65  95
3   85  100  65
4   85   55  95
5   75   80  80

#5. column을 추가하는 방법

df[<df에 없는 원하는 새로운 컬럼명>] = (데이터) 형식으로 데이터프레임 df에 새로운 컬럼을 추가할 수 있다

In [8]:
science = [80,70,90,85,75,60]

score['과학'] = science

score

    국어   수학  영어  과학
0  100   75  90  80
1   80   90  95  70
2   70   65  95  90
3   85  100  65  85
4   85   55  95  75
5   75   80  80  60

In [9]:
#숫자 하나 넣으면 알아서 길이 맞춰서 넣어줌

score['학년'] = 1

score

    국어   수학  영어  과학  학년
0  100   75  90  80   1
1   80   90  95  70   1
2   70   65  95  90   1
3   85  100  65  85   1
4   85   55  95  75   1
5   75   80  80  60   1

컬럼 불러서 컬럼끼리 길이가 동일하다면 산술연산이 가능하다

In [10]:
score['과학'] = score['과학'] + 5

score['총점'] = score['국어'] + score['수학'] + score['영어'] + score['과학']

score

    국어   수학  영어  과학  학년   총점
0  100   75  90  85   1  350
1   80   90  95  75   1  340
2   70   65  95  95   1  325
3   85  100  65  90   1  340
4   85   55  95  80   1  315
5   75   80  80  65   1  300

#6. row/column 삭제

drop()을 사용하여 데이터프레임의 행이나 열을 삭제할 수 있다

행,열을 동시에 삭제할 수는 없다

drop(index=, columns=, inplace=)

index : 삭제할 행의 인덱스, 인덱스 리스트를 지정하여 행을 삭제함

columns: 삭제할 컬럼의 컬럼명, 컬럼 리스트를 지정

inplace: True이면 원본에 덮어씌우고 False이면 원본을 바꾸지 않는다

행을 삭제할때는 index 생략해도 되지만

열을 삭제할때는 columns=로 지정해야함

In [11]:
score

    국어   수학  영어  과학  학년   총점
0  100   75  90  85   1  350
1   80   90  95  75   1  340
2   70   65  95  95   1  325
3   85  100  65  90   1  340
4   85   55  95  80   1  315
5   75   80  80  65   1  300

In [12]:
score.drop(1,inplace=True) #1행 삭제

In [13]:
score

    국어   수학  영어  과학  학년   총점
0  100   75  90  85   1  350
2   70   65  95  95   1  325
3   85  100  65  90   1  340
4   85   55  95  80   1  315
5   75   80  80  65   1  300

In [14]:
score.drop(['과학','학년','총점']) #columns 쓰지 않으면 몰라봄

KeyError: ignored

In [15]:
score.drop(columns = ['과학','학년','총점']) #inplace 쓰지 않으면 원본을 바꾸지 않음

    국어   수학  영어
0  100   75  90
2   70   65  95
3   85  100  65
4   85   55  95
5   75   80  80

In [16]:
score

    국어   수학  영어  과학  학년   총점
0  100   75  90  85   1  350
2   70   65  95  95   1  325
3   85  100  65  90   1  340
4   85   55  95  80   1  315
5   75   80  80  65   1  300

In [17]:
score.drop(columns = ['과학','학년','총점'],inplace=True)

In [18]:
score

    국어   수학  영어
0  100   75  90
2   70   65  95
3   85  100  65
4   85   55  95
5   75   80  80